.app-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.app-folders {
    flex: 1.3 13%;
    overflow-x: hidden;
    background-color: #EBEFED;
}
.app-notes {
    flex: 1.7 17%;
    overflow-x: hidden;
}
.app-editor {
    flex: 7 70%;
}


.app-transform {
    transition: all 0.5s ease;
}
.app-hide-col {
    flex: 0 0%;
}
