.notes-list-group-item {
    @extend .d-dot-dot-dot;
}

.notes-list {
}

.notes-item {
    border-bottom: dotted 1px #9da0a4;
}

.notes-item, .notes-item:hover, .notes-item:focus {
    color: #000;
    text-decoration: none;
}

.notes-item.selected {
    background-color: #FFEFBC!important;
}
.notes-item.selected:focus {
    background-color: #FFE392!important;
}
