.folders-list-group-item {
    @extend .d-dot-dot-dot;
}

.folders-list {
}

.folders-item, .folders-item:hover, .folders-item:focus {
    color: #000;
    text-decoration: none;
}

.folders-item.selected {
    background-color: #CECECE!important;
    color: #ffffff;
}
.folders-item.selected:focus {
    background-color: #2890F8!important;
}
