/*From collab.html <style> tag*/

.subtle { color: #777 }

.comment { background-color: #ff8 }
.currentComment { background-color: #fe0 }

.commentList, .commentText {
    display: block;
    padding: 0;
    margin: 0;
}

.tooltip-wrapper {
    display: inline-block;
    position: relative;
    width: 0;
    overflow: visible;
    vertical-align: bottom;
}

ul.commentList {
    width: 15em;
    position: absolute;
    top: calc(100% + 8px);
    left: -2em;
    font-size: 1rem;
    color: black;
    background: white;
    font-weight: normal;
    border: 1px solid #888;
    border-radius: 5px;
    z-index: 10;
    padding: 0;
}

ul.commentList::before {
    border: 5px solid #888;
    border-top-width: 0px;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: -5px;
    left: calc(2em - 6px);
    content: " ";
    height: 0;
    width: 0;
}

li.commentText {
    padding: 2px 20px 2px 5px;
    position: relative;
    pointer-events: auto;
    margin: 0;
}

/* By Abhinav 17Dec2016 */
li.commentText.selected {
    background-color: #269abc;
}

li.commentText + li.commentText {
    border-top: 1px solid silver;
}

.commentDelete {
    position: absolute;
    right: 0;
    border: 0;
    font: inherit;
    display: inline;
    color: inherit;
    background: transparent;
    cursor: pointer;
}

.commentDelete:hover {
    color: #f88;
}

.doclist {
    z-index: 3;
    display: block;
    padding: 2px 2px;
    margin: 0;
    border: 1px solid silver;
    position: absolute;
    background: white;
    font-size: 90%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-height: 15em;
    overflow-y: auto;
}

.doclist li {
    display: block;
    padding: 1px 3px;
    margin: 0;
    cursor: pointer;
}

.doclist li:hover {
    background: #5ae;
    color: white;
}

.docinfo {
    position: relative;
}

.ProseMirror-report {
    position: fixed;
    top: 0; right: 0;
    border-bottom-left-radius: 5px;
    border-width: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
    padding: 3px 27px 5px 12px;
    white-space: pre;
    z-index: 1000;
}

.ProseMirror-report-fail {
    background: rgb(255, 230, 230);
    border-color: rgb(200, 150, 150);
}

.ProseMirror-report-delay {
    background: rgb(255, 255, 200);
    border-color: rgb(200, 200, 120);
}
