.d-external-link {
    background-color: #c3dbe6;
    border-radius: 3px;
    cursor: default;
    -webkit-user-modify: read-only;
}

.d-internal-link {
    background-color: #938297;
    border-radius: 3px;
    cursor: default;
}
