.d-button {
    cursor: pointer;
    padding: 5px 15px;
    color: #FFFFFF;
    background-color: #4EBBE4;
    font-size: 12px;
    border: 1px solid #16A2D7;
    border-radius: 4px;
}


.d-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 0px;
}
.d-list {
    .d-list__item {
        cursor: pointer;
        padding: 10px 14px;
    }
}


.d-dot-dot-dot {
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    padding: 1px;
}
